:root {
  --color-text: #000000;
  --color-bg: #FFFFFF;
  --color-btn-primary-bg: #FFFFFF;
  --color-btn-primary-border: #000000;
  --color-btn-secondary-bg: #000000;
  --color-btn-secondary-text: #FFFFFF;
  --color-btn-secondary-border: transparent;
  --color-skill-bg: rgba(177, 178, 181, 0.3);
  --color-domain-bg: #FFFFFF;
  --color-skill-border: rgba(0, 0, 0, 0.3);
  --radius-btn: 10px;

  --sans: 'Work Sans', system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color-text);
  background: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #FFFFFF;
    --color-bg: #16171d;
    --color-domain-bg: #1e1f26;
    --color-btn-primary-bg: #1e1f26;
    --color-btn-primary-border: rgba(255, 255, 255, 0.3);
    --color-btn-secondary-border: rgba(255, 255, 255, 0.3);
    --color-skill-bg: rgba(255, 255, 255, 0.1);
    --color-skill-border: rgba(255, 255, 255, 0.3);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  border-inline: 1px solid var(--color-skill-border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}
